@font-face {
    font-family: Inter;
    src: url('./fonts/Inter/static/Inter-Regular.ttf');
}@font-face {
    font-family: Staatliches;
    src: url('./fonts/Staatliches/Staatliches-Regular.ttf');
}

body{
    background-color: rgb(39, 59, 76);
    padding: 0;
    margin: 0;
    display: flex;
    font-family: "Inter";
    height: 800px;
    justify-content: space-between;
}
.resPanel{
    height: 800px;
    width: 15%;
    overflow: scroll;
    margin: 0;
    padding: 20px;
}
.resPanel::-webkit-scrollbar{
    display: none;
}
.avgContain, .session, .prevRes{
    border-radius: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 191px;
    font-size: 48px;
    margin-bottom: 15px;
    justify-content: center;
    box-shadow: -4px 4px 15px 3px rgba(0, 0, 0, 0.6);
}
.session{
    height: 73px;
    font-size: 45px;
}
.avg{
    display: flex;
    border-radius: 40px;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.avgContain{
    padding: 15px 0;

}
.prevRes{
    z-index: 3;
    padding: 15px 0;
    align-items: flex-start;
}

.solve{
    margin: auto;
    transition: 0.2s;
    background-color: white;
    user-select: none;
    overflow: hidden;
    text-align: center;
    
}

.stroke{
   width: 100px;
   height: 2px;
    margin: 0 auto;
    background-color: black; 
}


.midPanel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}


.scrambleDisplay{
    margin-top: 20px;
    background-color: white;
    border-radius: 40px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    box-shadow: 0 4px 15px 3px rgba(0, 0, 0, 0.6);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}
.scrString{
    letter-spacing: -8%;
    margin: 0 30px;
}

.time{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 300px;
    margin-left: 2%;
    font-size: 170px;
    color: white;
    font-family: Staatliches;
    text-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    letter-spacing: 20px;
    z-index: -1;
}
.ms{
    width: 100px;
    font-size: 130px;
}
.sec, .min{
    width: 200px;
    text-align: center;
}

.wrapperSettings{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.settingsImages{
    display: flex;
    flex-wrap: wrap;
    border-radius: 40px;
    background-color: white;
    height: 890px;
    width: 61px;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
    transition: 1000ms;

}
.settings{
    margin:20px 20px 0 0;
    transition: 0.3s;
    width: 60px;
    display: flex;
    justify-content: flex-start;
    background-color: white;
    box-shadow: 4px 4px 15px 3px rgba(0, 0, 0, 0.6) ;
    border-radius: 40px;
    overflow: hidden;
}
.mainSettings{
    margin: 0 auto;
    margin-left: 10px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.mainSettings input{
    width: 110px;
    height: 25px;
    border-radius: 50px;
    border: 0;
    background-color: lightgray;
    padding: 10px;
}
.settings:hover{
    width: 410px;
    transition: 0.3s;
    box-shadow: 4px 4px 15px 3px rgba(0, 0, 0, 0.6) ;
}
.login, .password{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 28px;
    margin-bottom: 10px;
    height: 38px;
}
.name{
    margin-bottom: 10px;
    font-size: 48px;
}
.nameSection, .currentUser{
    font-size: 28px;
    margin-bottom: 10px;
}
.btns{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.logout, .submit{
    background-color: rgb(39, 59, 76);
    color: white;
    font-size: 28px;
    width: 260px;
    height: 45px;
    border-radius: 50px;
    border: 0;
    margin-bottom: 10px;
}

.logout:active, .submit:active, .deleteAll:active, .deleteAllSessions:active{
    background-color: rgb(66, 94, 119);
}


#checkbox{
    visibility: hidden;
    
}
.showTime-toogle{
    position: relative;
    width: 60px;
    height: 38px;
    background-color: #d9d9d9;
    border-radius: 50px;
}
.checkbox-label{
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgb(39, 59, 76);
    top: 3px;
    left: 3px;
    transition: 0.3s;
    cursor: pointer;
}
#checkbox:checked + .checkbox-label{
    left: 25px;
}
.showTime{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.showTime label{
    font-size: 28px;
    margin-bottom: 10px;
}
.deleteAll, .deleteAllSessions{
    height: 45px;
    background-color: rgb(39, 59, 76);
    width: 260px;
    color: white;
    font-size: 28px;
    border-radius: 50px;
    margin-bottom: 10px;
    border: none;
}
.popup, .sessionPopup{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display: none;
}
.popupContent{
    margin: 250px auto;
    background-color: white;
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
}
.thisTime{
    font-size: 60px;
    margin: auto;
}
.popupBtn{
    background-color: rgb(39, 59, 76);
    border: none;
    margin-bottom:10px ;
    width: 150px;
    height: 50px;
    border-radius: 40px;
    color:white
}
.thisScramble{
    font-size: 25px;
    margin-top: 20px;
    height: 40px;
    z-index: 1;
}
.censored{
    width: 800px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(39, 59, 76);
    z-index: -1;
    display: none;
     
}
.solving{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    color: white;
    font-size: 170px;
    font-weight: 800;
    text-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);

}