
@media only screen and (max-width: 768px) {
    html{
        margin: 0;
        padding: 0;
    }
    body{
        background-color: #273B4C;
        display: flex;
        flex-direction: column;
        font-family: "Inter";
        padding: 10px;
        margin: 0;
        overflow: hidden;
    }
    .settingsImages, .avgContain, .prevRes, .session, .popup, .scrDispForPc{
        display: none;
    }
    .avgContain{
        font-size: 20px;
    }
    .midPanel{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;

    }
    .time{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateY(-50%);
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        width: 100%;
        color: white;
        font-size: 110px;
        font-family: Staatliches;
        text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.6);
    }
    .sec, .ms{
        text-align: center;
        width: 115px;
    }
    .scrambleDisplay{
        background-color: white;
        border-radius: 25px;
        padding: 10px 20px;
        font-size: 20px;
        text-align: center;
        box-shadow: 0px 4px 15px 3px rgba(0, 0, 0, 0.6);

    }
    .btnForStart{
        position: absolute;
        width: 100%;
        height: 60%;
        top: 20%;
        z-index: 3;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;           /* Non-prefixed version, currently
                                        not supported by any browser */
    }
    .mobileBlock{
        width: 100%;
    }
    scramble-display{
        width: 200px;
        height: 170px;
    }
    .avgScrWrapper{
        width: 100%;
        display: flex;

        align-items: flex-end;
        justify-content: space-between;
        height: 200px;
        margin-bottom: 10px;
    }
    .mobileAvgContain{
        font-size: 24px;
        color: white;
        text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.79);
    }
    .mobileBtns{
        z-index: 2;
        height: 80px;
        width: 100%;
        background-color: white;
        border-radius: 32px;
        display: flex;
        box-shadow: 0px 4px 15px 3px rgba(0, 0, 0, 0.6);

    }
    .mobileBtns .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33%;
    }
    .mobileSession:active{
        background-color: lightgray;
        border-radius: 32px 0 0 32px;
    }
    .mobileStatistic:active{
        background-color: lightgray;
    }
    .mobileSettings:active{
        background-color: lightgray;
        border-radius: 0 32px 32px 0;
    }
    .strokeVertical{
        width: 1px;
        height: 70px;
        background-color: black;
        margin: auto 0;
    }
    .stroke{
        width: 120px;
        height: 2px;
        background-color: black;
        margin: 10px auto;
    }

    .sessionPopup{
        display: none;
        z-index: 3;
        top: 0;
        left: 0;
        position: absolute;
        width: 101%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .sessionPopup .popupContent{
        position: absolute;
        top: 2%;
        width: 85%;
        height: 80%;
        background-color: white;
        border-radius: 0 32px 32px 0;
        transition: 1s;
    }
    .puzzles{
        display: flex;
        height: 100%;
        padding: 10px;
        flex-direction: column;
        width: 40%;
        overflow: scroll;
    }
    .puzzleBtn{
        height: 8%;
        margin: 4%;
        border: none;
        background-color: white;
        font-size: 40px;
    }
    
    .wrapperSettings1{
        display: none;
    }
    .wrapperSettings{
        z-index: 4;
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

    }

    .settings{
        position: absolute;
        background-color: white;
        width: 85%;
        height: 80%;
        top: 2%;
        right: 0;
        border-radius: 32px 0 0 32px;
        padding: 0px;
        overflow: scroll;
        z-index: 5;
    }
    .mainSettings{
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .name{
        font-size: 48px;
    }
    .nameSection{
        font-size: 30px;
    }
    .login, .password, .currentUser{
        font-size: 30px;

    }
    .mainSettings form{
        width: 100%;
    }
    .mainSettings button{
        width: 100%;
        height: 55px;
        border-radius: 50px;
        background-color: #273B4C;
        color: white;
        font-size: 30px;
        margin: 5px 0;
    }#checkbox{
        visibility: hidden;
        
    }
    .showTime-toogle{
        position: relative;
        width: 60px;
        height: 38px;
        background-color: #d9d9d9;
        border-radius: 50px;
    }
    .checkbox-label{
        display: block;
        position: absolute;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: rgb(39, 59, 76);
        top: 3px;
        left: 3px;
        transition: 0.3s;
        cursor: pointer;
    }
    #checkbox:checked + .checkbox-label{
        left: 25px;
    }
    .showTime{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .showTime label{
        font-size: 28px;
        margin-bottom: 10px;
    }

    .censored{
        color: white;
        font-size: 80px;
        text-align: center;
        position: absolute;
        top: 30%;
        left: 0;
        z-index: 2;
        width: 100%;
        background-color:#273B4C;
        height: 30%;
        display: none;  
    }
    #login, #password{
        width: 100%;
        background-color: #D9D9D9;
        border-radius: 50px;
        border: none;
        height: 50px;
    }
    

















 }
